.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

canvas {
  border: 2px solid #000000;
}

li {
  margin-bottom: 5px;
}

.functions {
  margin-top: 10px;
  margin-bottom: 10px;
  border-bottom:  2px solid #AAAAAA;
  padding-bottom: 10px;
}

.function-wrapper {
  display: inline-block;
  vertical-align: top;
  height: 100%;
  padding: 10px;
  text-align: center;
  border: 2px solid #AAAAAA;
}

.function-wrapper div {
  padding-top: 10px;
}

#sidebar_left {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.5);
  display: inline-block;
  height: 100%;
}

.closed {
  width: 0;
}
.open {
  width: 60%;
}

.quick_buttons {
  position: absolute;
  top: 0;
  right: -50px;
  bottom: 0;
  background-color: #FF00EA;
  width: 50px;
  text-align: center;
}

.quick_buttons .btn {
  margin-top: 10px;
}

#rails {
  overflow: hidden;
  height: 100%;
}

#rails li {
  padding: 5px;
}

.selected {
  border: 2px solid green;
  border-radius: 5px;
  background-color: rgba(0, 255, 0, 0.3);
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

#print {
/*  visibility: hidden;*/
}

.hide {
  display: none;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1000px;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
